extends ../layouts/UserMailer.pug

block title
  div Welcome to Debt Collective.
  div Please verify your email.

block content
  - var activateURL = `${CONFIG.env().siteURL}${CONFIG.router.helpers.Users.activate.url(encodeURIComponent(user.activationToken))}`
  div(style="font-size: 16px; line-height: 142%;")
    div(style="font-family: monospace; color: #000000;")
      div Hi #{user.account.fullname},
      div You recently requested to set your email to this address. To verify that it was you, please visit #[a(href=activateURL style="color: #f04c34;")= activateURL] or by clicking the button below.

    div(style="text-align: center;")
      div &nbsp;
      div &nbsp;
      a(href=activateURL style=" font-size: 16px; display: inline-block; padding-top: 14px; padding-bottom: 14px; padding-left: 34px; padding-right: 34px; background-color: #f04c34; color: #ffffff; text-decoration: none; border-radius: 2px;")
        | Verify email
      div &nbsp;
      div &nbsp;
