doctype html
html(lang='en')

  head
    meta(charset='UTF-8')
    meta(name='csrf-token' content=csrfToken)
    meta(name='keywords' content='Debt,Student loans,Everest,Corinthian,Student Debt,Medical Debt,Credit Card Debt,Mortgage Debt,Bankruptcy,Debt discharge,Debt cancellation,Erase my debt,Jubilee,Strike Debt,Confused about debt,Rolling Jubilee,Interest rates,Principle reduction,What happens if I don’t pay my debt?,Judgement Debt,Bad Credit,Credit Score,Credit Report,Credit Reporting Agencies,Can’t Pay My Debt,Debt strike,Debt union,Credit cards,Fair credit,Wages garnished,Consumer rights,Strike creditors,Debt refusal,Debt resistance,Debt Help')
    meta(name='description' content='We are debtors and allies organizing to renegotiate and resist our debts. Alone, our debts are a burden. Together, they make us powerful.')

    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='black')
    meta(name='apple-mobile-web-app-title' content='The Debt Collective')
    meta(name='format-detection' content='telephone=no')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    each size in [57, 76, 120, 152, 180]
      link(rel='apple-touch-icon' sizes=`${size}x${size}` href=`/images/social/apple-icon-${size}.png`)

    link(rel='icon' type='image/png' href='/images/favicon.png')

    title
      block title
        | The Debt Collective

    link(rel='stylesheet' href='/build/index.css')

  body
    include ../includes/svg/sprite.svg

    main(aria-hidden='false' role='main')
      if errors || error || flash
        .AlertWrapper
          if errors || error
            .Alert.wrapper.center.-fw-500.-error
              button.Alert__close(aria-label='close')
                svg: use(xlink:href='#svg-close')
              p= error
              if errors
                each val in errors
                  p= val
          if flash
            each val, key in flash
              .Alert.wrapper.center.-fw-500(class=`-${key}`)
                button.Alert__close(aria-label='close')
                  svg: use(xlink:href='#svg-close')
                p!= val

      header.Header(data-component-header)
        .Header__bg.absolute.top-0.right-0.bottom-0.left-0
        .wrapper.clearfix.px2.-fh
          h1.Header__logo.left.-fh
            a.block(style="padding: 18px 0 22px;" href=routeMappings.root.url())
              img.Header__logo-svg.-large(src='/images/global/header/logo.svg')
              img.Header__logo-svg.-small(src='/images/global/header/red-square.svg' style='height:30px;margin-top:-3px')
              .sr-only The Collective Homepage
      block content

    .ResponsiveMenu(aria-hidden='true')
      .ResponsiveMenu__Header.px2.clearfix
        .left.-fh
          a.block(href=routeMappings.root.url() style='padding: 11px 0;')
            svg(width='64' height='31'): use(xlink:href='#svg-logo')
            .sr-only The Collective Homepage
        .right.-fh
          button.js-close-responsive-menu.btn-clear(aria-label='close' style='padding: 19px 0 19px 19px;')
            svg.-s18(width='32' height='32'): use(xlink:href='#svg-close')

    block body
      include ../includes/donation-flow

      if !currentUser
        if (currentURL !== routeMappings.signup.url()) && (currentURL !== routeMappings.login.url()) && (currentURL !== routeMappings.Users.create.url())
          .Modal(data-component-modal='signup' aria-hidden='true' role='dialog' aria-labelledby='modalSignupTitle' aria-describedby='modalSignupDesc')
            button(class='Modal__close' aria-label='close')
              svg(class='-s18'): use(xlink:href='#svg-close')
            .Modal__body(role='document')
              include ../includes/users/new-form.pug

          .Modal(data-component-modal='login' aria-hidden='true' role='dialog' aria-labelledby='modalLoginTitle' aria-describedby='modalLoginDesc')
            button(class='Modal__close' aria-label='close')
              svg(class='-s18'): use(xlink:href='#svg-close')
            .Modal__body(role='document')
              include ../includes/sessions/new-form.pug

    script(src='/build/shared.js')
    script(src='/build/index.js')
    script(src='https://js.stripe.com/v2/' async)
    block scripts
