.AlertWrapper {
  z-index: 5;
  position: fixed;
  top: var(--header-height);
  left: 0;
  right: 0;
  perspective: 1000px;
}

.Alert {
  position: relative;
  padding: 0.75rem 50px;
  transform-origin: 50% 0;
  opacity: 1;
  transform: none;
  transition: visibility 0ms linear 260ms opacity 260ms,
    transform 260ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &[aria-hidden='true'] {
    transform: rotateX(-90deg);
    opacity: 0;
  }

  &.-success {
    background-color: #bae88b;
    color: #2c5200;
  }

  &.-error {
    background-color: #f99;
    color: #7a0000;
  }

  &.-warning {
    background-color: #f0e990;
    color: #784e00;
  }

  &.-info {
    background-color: #96c5fa;
    color: #00499c;
  }
}

.Alert__close {
  position: absolute;
  right: 0.55rem;
  top: 0.55rem;
  padding: 0.5rem;
  background: none;
  border: none;

  & > svg {
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: top;
    fill: rgba(0, 0, 0, 0.5);
    transform: scale(1);
    transition: transform 100ms ease-out;
  }

  &:hover > svg,
  &:focus > svg {
    transform: scale(1.1);
  }
}
