footer {
  min-height: var(--footer-height);
  background-color: var(--k-background-color);
  border-top: 3px solid var(--k-color-palette-neutral-dark);
}

.Footer__circle-btn {
  display: flex;
  width: 34px;
  height: 34px;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 0 2px var(--k-color-palette-neutral-mid-dark);
  border-radius: 50%;
  color: #fff;

  &:hover {
    opacity: 0.8;
    color: inherit;
  }
}
