/* BASSCSS */
@import 'basscss-align';
@import 'basscss-border';
@import 'basscss-flexbox';
@import 'basscss-grid';
@import 'basscss-hide';
@import 'basscss-layout';
@import 'basscss-margin';
@import 'basscss-padding';
@import 'basscss-position';

/* @import 'basscss-type-scale'; */
@import 'basscss-typography';

/* KABINETT */
@import '../lib/kabinett/core/base';
@import '../lib/kabinett/components/button';
@import '../lib/kabinett/components/input';
@import '../lib/kabinett/components/textarea';
@import '../lib/kabinett/components/select';
@import '../lib/kabinett/components/popover';
@import '../lib/kabinett/components/tooltip-inline';
@import '../lib/kabinett/utilities/layout';
@import '../lib/kabinett/utilities/type-font-weight';
@import '../lib/kabinett/utilities/type-font-scale';
@import '../lib/kabinett/utilities/aria';
@import '../lib/kabinett/utilities/sizes';
@import './utils';
@import './components/Header';
@import './components/Footer';
@import './components/Modal';
@import './components/Dropdown';
@import './components/DonationFlow';
@import './components/Alert';
@import './components/Button';
@import './components/Popover';
@import './components/ResponsiveMenu';
@import './components/users/NewForm';
@import 'flatpickr/dist/flatpickr';

:root {
  /* KABINETT CONFIGURATION */
  --k-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --k-background-color: #000;
  --k-color: #fff;
  --k-color-palette-primary: #f04c34;
  --k-color-palette-danger: #d0021b;
  --k-color-palette-success: #bae88b;
  --k-color-palette-accent: #fefac0;
  --k-color-palette-neutral-dark: #242424;
  --k-color-palette-neutral-mid-dark: #4a4a4a;
  --k-color-palette-neutral-mid: #9b9b9b;
  --k-color-palette-neutral-mid-x: #d8d8d8;
  --k-color-palette-neutral-light: #f5f5f5;
  --k-h1: 7.4375rem; /* 119px */
  --k-h2: 4.1875rem; /* 67px */
  --k-h3: 2.3125rem; /* 37px; */
  --k-h4: 1.3125rem; /* 21px; */
  --k-font-caption-size: 0.75rem; /* 12px; */
  --k-xs-fs: 12px;
  --k-xs-p: 7px 1em 6px;
  --k-xs-h: 25px;
  --k-sm-fs: calc(var(--k-font-size) * 1);
  --k-sm-p: 9px 1em 10px;
  --k-sm-h: 35px;
  --k-loader-color: var(--k-color-palette-primary);
  --k-tooltip-font-size: var(--k-font-caption-size);
  --k-tooltip-font-weight: 700;
  --k-tooltip-arrow-size: 5px;
  --k-tooltip-background-color: var(--k-color-palette-neutral-dark);
  --k-tooltip-color: var(--k-color-palette-neutral-light);

  /* BASSCSS CONFIGURATION */

  /* basscss-layout */
  --width-1: 23.125rem;
  --width-2: 36rem;
  --width-3: 48rem;
  --width-4: 60.625rem;

  /* basscss-border */
  --border-radius: 2px;

  /* basscss-padding */
  --space-1: 0.5rem;
  --space-2: 0.9375rem;
  --space-3: 1.875rem;
  --space-4: 3.75rem;

  /* Platform Variables */
  --header-height: 60px;
  --footer-height: 187px;
  --primary-lighter: color(var(--k-color-palette-primary) tint(15%));
  --primary-darker: color(var(--k-color-palette-primary) shade(15%));
}

/* CUSTOM STYLES */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    will-change: transform;
    background: var(--k-background-color) url('/images/global/bg-black-pattern.gif') 50% 0 repeat;
  }
}

* {
  margin: 0;
}

::selection {
  background-color: var(--k-color-palette-primary);
  color: #fff;
}

h2 {
  line-height: 1.194em; /* 80px */
}

h3 {
  line-height: 1.081em; /* 40px */
}

blockquote {
  font-size: 1.125rem;
}

.-paragraph {
  font-size: 0.9375rem;
}

a {
  color: var(--k-color-palette-primary);
  text-decoration: none;
  transition: color 260ms;

  &:hover {
    color: var(--primary-lighter);
  }

  &:not([href]) {
    text-decoration: line-through;
    opacity: 0.5;
  }

  &[href*="//"]:not([rel*="noopener"]),
  &[href*="//"]:not([rel*="noreferrer"]) {
    outline: 6px solid red;
    background-color: yellow;
  }
}

a,
button,
textarea,
input,
select {
  &:focus {
    outline: none;
    border-color: rgb(132, 191, 252);
    box-shadow: 0 0 0 2px rgb(132, 191, 252);
  }
}

@media (max-width: 52em) {
  :root {
    font-size: 14px;
  }
}

@media (max-width: 40em) {
  :root {
    font-size: 12px;
  }
}

main {
  padding-top: var(--header-height);
}

.wrapper {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.hide {
  display: none;
}
