@import '../core/variables';

h1,
.-h1 {
  font-size: var(--k-h1);
}

h2,
.-h2 {
  font-size: var(--k-h2);
}

h3,
.-h3 {
  font-size: var(--k-h3);
}

h4,
.-h4 {
  font-size: var(--k-h4);
}

h5,
.-h5 {
  font-size: var(--k-h5);
}

h6,
.-h6 {
  font-size: var(--k-h1);
}

.-caption {
  font-size: var(--k-font-caption-size);
}
