extends ../layouts/application.pug

block title
  | #{user.account.fullname} — The Debt Collective

block content
  .ProfileWrapper.wrapper.py4.px2.flex.items-center.relative
    - var _state = user.account.state.toLowerCase().replace(' ', '-')
    - var _stateMapUrl = `/images/profile/states-US/${_state}.png`
    .Profile__map.absolute.left-0.right-0.bottom-0.-bg-neutral-dark(
      style={'background-image': `url(${_stateMapUrl})`}
    )
    .max-width-3.mx-auto.relative.-fw
      .clearfix
        .Profile__image-wrapper.relative.right.sm-col-4.col-12
          if (user.account.image.exists('mediumGrayscale'))
            img.block.-fw(src=user.account.image.urls['mediumGrayscale'] alt=user.account.fullname)
          else
            img.block.-fw(src='/images/profile/placeholder.png')
        .col.sm-col-8.col-12
          .Profile__info-wrapper.flex.flex-column.pt3.pr3.pb2.pl3
            .flex-auto
              h3.pb2= user.account.fullname
              p.pb2.-caption.-fw-700.-accent= user.account.state
              .-fw-700
                each line in user.account.bio.split(/\n/g)
                  p.pb1= line
            .flex.pt4
              if currentUser && user._capabilities.edit
                a(href=user._capabilities.edit.path class='-caption -fw-700' role='button' tabindex='0')
                  svg.mr1(width='11' height='11'): use(xlink:href='#svg-pencil')
                  | Edit profile
              if user.account.socialLinks
                ul.list-reset.center.flex-auto
                  each val, index in user.account.socialLinks
                    li.inline-block.align-top.mx2
                      a.block.-white(
                        href=val
                        rel='noopener noreferrer'
                        target='_blank'
                        role='button'
                        tabindex='0'
                        title=`${user.account.fullname}’s ${index}`
                      )
                        svg(width='18' height='18'): use(xlink:href=`#svg-${index}`)
                        .sr-only=`${user.account.fullname}’s ${index}`

          if user.disputes.length
            .-bg-neutral-dark.px3.pb2
              hr.mb3
              h4.pb1.-accent My tools
              ul.list-reset
                each dispute in user.disputes
                  li
                    a.block.clearfix.py1.mxn1.-white(href=(currentUser.id === user.id ? routeMappings.Disputes.show.url(dispute.id) : '#'))
                      .col.col-8.px1
                        .-fw-700
                          | #{dispute.disputeTool.name}
                          if dispute.data.option !== 'none'
                            |  / #{dispute.data.option}
                      .col.col-4.px1.right-align
                        .pt1.-caption.-ttu.-fw-700(
                          class=`-status-${dispute.statuses[0].status.toLowerCase().replace(/\W/g, '-')}`
                        )= dispute.statuses[0].status

block scripts
  script.
    window.addEventListener('load', function() {
      var options = {
        currentUser: !{JSON.stringify(UserRenderer(currentUser))},
        currentURL: !{JSON.stringify(currentURL)},
      };

      new ViewUsersShow(options);
    }, true);
