extends ../layouts/application.pug

block title
  | #{disputeTool.name} — The Debt Collective

block content
  .wrapper.px2.py3
    .clearfix.mxn2
      .col.lg-col-3.col-12.px2
        include ../mixins/dispute-tools/sidebar
        +toolsSidebarMixin(disputeTool, 0)

      .col.lg-col-9.col-12.px2
        .Tool__Optionless.pt3.pr3.pl3.pb2.-bg-neutral-dark
          form(
            action=routeMappings.Disputes.create.url()
            method="post"
          )
            input(name="_csrf" type="hidden" value=csrfToken)
            input(name="disputeToolId" type="hidden" value=disputeTool.id)
            input(name="option" type="hidden" value="none") 

            .Tool__Optionless__Content.pb3
              h4.pb2 We #[span.-accent ❤] debt resisters. Let's get this dispute started!
              != marked(disputeTool.about)

            button.-k-btn.btn-primary.-fw.-fw-700(type="submit") Start Dispute

block scripts
  script.
    window.addEventListener('load', function() {
      var options = {
        currentUser: !{JSON.stringify(UserRenderer(currentUser))},
        currentURL: !{JSON.stringify(currentURL)},
        options: !{JSON.stringify(disputeTool.data.options)},
      };

      new ViewDisputeToolsShow(options);
    }, true);
